doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title
      | [STUB: name]のホームページ
    link(rel="stylesheet", href="css/style.css")

  body
    nav
      ul
        li
          a(href="top")
            | トップ
        li
          a(href="movie/eiga")
            | 映画出演
        li
          a(href="tv/tv")
            | ドラマ出演
        li
          a(href="stage/butai")
            | 舞台出演
        li
          a(href="photo/photo")
            | 写真集
        li
          a(href="essay/essay")
            | 出版本
        li
          a(href="kanri/kanri")
            | 管理者

    main
      h1
        | [STUB: name]のホームページ

      section
        picture
          source(srcset="img/ebashirohi")
          img(src="img/ebashirohi-alternative" alt="[STUB: name]")

        h2
          | [STUB: name]
        dl
          dt
            | 生年月日
          dd
            | [STUB]年[STUB]月[STUB]日
          dt
            | 血液型
          dd
            | [STUB]型
        p
          a(href="profile")
            | プロフィール

        p
          | [STUB: description-en]

        p
          | mail:
          a(href="mailto:stub-office@example.com")
            | stub-office@example.com

        dl
          dt
            | 所属:
          dd
            | [STUB: affiliation]

      section
        h2
          | ★★★　最新情報　★★★

        ul
          li
            |「[STUB]」で「[STUB]賞」受賞
          li
            | 第[STUB]回[STUB]賞「
            a(href="http://example.com/#stub")
              | [STUB]
            | 」優秀主演男優賞　受賞
          li
            | 第[STUB]回[STUB]賞 「[STUB]」優秀助演男優賞　受賞


        h3
          | 映画

        ul
          li
            | 「
            a(href="http://example.com/#stub")
              | [STUB]
            | 」
            span
              | New!
            p
              | [STUB]年公開

          li
            | 「
            a(href="http://example.com/#stub")
              | [STUB]
            | 」
            span
              | New!
            p
              | [STUB]年[STUB]月[STUB]公開

          li
            | 「
            a(href="http://example.com/#stub")
              | [STUB]
            | 」
            span
              | New!
            p
              | [STUB]年[STUB]月[STUB]公開

          li
            | 「
            a(href="http://example.com/#stub")
              | [STUB]
            | 」
            span
              | New!
            p
              | [STUB]年[STUB]月[STUB]公開

